CONFIG_ARCH_MT6878=y
CONFIG_MTK_DCM_MT6878=m
CONFIG_MTK_COMBO_CHIP_CONSYS_6878=y
CONFIG_PINCTRL_MT6878=m
CONFIG_REGULATOR_MT6878_ALPHA_SUPPORT=m
CONFIG_MTK_GPU_MT6878_SUPPORT=m
CONFIG_DEVICE_MODULES_SND_SOC_MT6878=m
CONFIG_DEVICE_MODULES_SND_SOC_MT6878_MT6369=m
CONFIG_COMMON_CLK_MT6878=m
CONFIG_COMMON_CLK_MT6878_ADSP=m
CONFIG_COMMON_CLK_MT6878_CAM=m
CONFIG_COMMON_CLK_MT6878_CCU=m
CONFIG_COMMON_CLK_MT6878_IMG=m
CONFIG_COMMON_CLK_MT6878_MMSYS=m
CONFIG_COMMON_CLK_MT6878_PERI=m
CONFIG_COMMON_CLK_MT6878_BUS=m
CONFIG_COMMON_CLK_MT6878_MDPSYS=m
CONFIG_COMMON_CLK_MT6878_VLP=m
CONFIG_COMMON_CLK_MT6878_VCODEC=m
CONFIG_DEVAPC_MT6878=m
CONFIG_MTK_LPM_MT6878=m
CONFIG_MTK_SWPM_MT6878=m
CONFIG_MTK_CM_MGR_MT6878=m
CONFIG_INTERCONNECT_MTK_MMQOS_MT6878=m
