CONFIG_ARCH_MT6897=y
CONFIG_MTK_DCM_MT6897=m
CONFIG_MTK_COMBO_CHIP_CONSYS_6897=y
CONFIG_PINCTRL_MT6897=m
CONFIG_MTK_GPU_MT6897_SUPPORT=m
CONFIG_SND_SOC_MT6897=m
CONFIG_SND_SOC_MT6897_MT6368=m
CONFIG_COMMON_CLK_MT6897=m
CONFIG_COMMON_CLK_MT6897_ADSP=m
CONFIG_COMMON_CLK_MT6897_CAM=m
CONFIG_COMMON_CLK_MT6897_CCU=m
CONFIG_COMMON_CLK_MT6897_IMG=m
CONFIG_COMMON_CLK_MT6897_MMSYS=m
CONFIG_COMMON_CLK_MT6897_PERI=m
CONFIG_COMMON_CLK_MT6897_BUS=m
CONFIG_COMMON_CLK_MT6897_MDPSYS=m
CONFIG_COMMON_CLK_MT6897_MFG=m
CONFIG_COMMON_CLK_MT6897_VLP=m
CONFIG_COMMON_CLK_MT6897_VCODEC=m
CONFIG_DEVAPC_MT6897=m
CONFIG_MTK_LPM_MT6897=m
CONFIG_MTK_SWPM_MT6897=m
CONFIG_MTK_SLBC_MT6897=m
CONFIG_MTK_CM_MGR_MT6897=m
CONFIG_INTERCONNECT_MTK_MMQOS_MT6897=m
CONFIG_MTK_MDP_MT6897=m
