CONFIG_ARCH_MT6985=y
CONFIG_MTK_DCM_MT6985=m
CONFIG_MTK_COMBO_CHIP_CONSYS_6985=y
CONFIG_TOUCHSCREEN_MT6985_ALPHA_SUPPORT=m
CONFIG_PINCTRL_MT6985=m
CONFIG_MTK_GPU_MT6985_SUPPORT=m
CONFIG_SND_SOC_MT6985=m
CONFIG_SND_SOC_MT6985_MT6338=m
CONFIG_COMMON_CLK_MT6985=m
CONFIG_COMMON_CLK_MT6985_ADSP=m
CONFIG_COMMON_CLK_MT6985_CAM=m
CONFIG_COMMON_CLK_MT6985_CCU=m
CONFIG_COMMON_CLK_MT6985_IMG=m
CONFIG_COMMON_CLK_MT6985_MMSYS=m
CONFIG_COMMON_CLK_MT6985_PERI=m
CONFIG_COMMON_CLK_MT6985_BUS=m
CONFIG_COMMON_CLK_MT6985_MDPSYS=m
CONFIG_COMMON_CLK_MT6985_VLP=m
CONFIG_COMMON_CLK_MT6985_VCODEC=m
CONFIG_DEVAPC_MT6985=m
CONFIG_MTK_LPM_MT6985=m
CONFIG_MTK_SWPM_MT6985=m
CONFIG_MTK_SLBC_MT6985=m
CONFIG_MTK_CM_MGR_MT6985=m
CONFIG_CHARGER_MT6985_ALPHA_SUPPORT=m
CONFIG_INTERCONNECT_MTK_MMQOS_MT6985=m
