CONFIG_ARCH_MT6989=y
CONFIG_MTK_DCM_MT6989=m
CONFIG_MTK_COMBO_CHIP_CONSYS_6989=y
CONFIG_PINCTRL_MT6989=m
CONFIG_MTK_VMM_SPM_MT6989=m
CONFIG_MTK_GPU_MT6989_SUPPORT=m
CONFIG_SND_SOC_MT6989=m
CONFIG_SND_SOC_MT6989_MT6681=m
CONFIG_COMMON_CLK_MT6989=m
CONFIG_COMMON_CLK_MT6989_ADSP=m
CONFIG_COMMON_CLK_MT6989_CAM=m
CONFIG_COMMON_CLK_MT6989_IMG=m
CONFIG_COMMON_CLK_MT6989_MMSYS=m
CONFIG_COMMON_CLK_MT6989_PERI=m
CONFIG_COMMON_CLK_MT6989_BUS=m
CONFIG_COMMON_CLK_MT6989_MDPSYS=m
CONFIG_COMMON_CLK_MT6989_VLP=m
CONFIG_COMMON_CLK_MT6989_VCODEC=m
CONFIG_DEVAPC_MT6989=m
CONFIG_MTK_LPM_MT6989=m
CONFIG_MTK_SWPM_MT6989=m
CONFIG_MTK_SLBC_MT6989=m
CONFIG_MTK_CM_MGR_MT6989=m
CONFIG_INTERCONNECT_MTK_MMQOS_MT6989=m
CONFIG_MTK_MDP_MT6989=m
